/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.container {
  background: black;
}
body {
  margin: 40px;
  background: white;
}
p {
  line-height: 1.5;
  margin-top: 10px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: normal;
}
.border-style {
  border: red 2 px solid;
}
.content-position {
  margin: 15%;
  padding: 30px;
  line-height: 2.5px;
}
.content-position p {
  padding: 30px;
}
.content-position img {
  border: red 2 px solid;
}
header {
  background: #ff7d04;
  color: white;
  border: red 2 px solid;
  margin: 15%;
  padding: 30px;
  line-height: 2.5px;
}
header p {
  padding: 30px;
}
header img {
  border: red 2 px solid;
}
header h1 {
  font-size: xx-large;
  font-family: fantasy;
  margin-top: 20px;
  text-align: center;
}
header .header-display {
  background: black;
}
header button {
  text-align: center;
  margin-top: 15px;
}
header img {
  height: 400px;
  width: 400px;
  border: 15px darkslategrey dashed;
}
nav {
  border: blue 5px solid;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 100;
  justify-content: right;
  padding: 30px;
  display: flex;
  text-align: center;
}
.imgandnavs {
  display: flex;
}
nav a:nth-child(1) {
  margin: 20px;
  background: red;
  width: 130px;
}
nav a:nth-child(2) {
  margin: 20px;
  margin-left: 100px;
  background: #3b2870;
}
nav a:nth-child(3) {
  margin: 20px;
  width: 130px;
  background: #a32f55;
}
nav a:nth-child(4) {
  margin: 20px;
  margin-left: 100px;
  background: #2640b3;
}
h2 {
  font-size: 35px;
}
div {
  border: black 1px solid;
  background: #989e8e;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 3;
}
.contact-section {
  border: black 1px solid;
  background: #989e8e;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 3;
}
footer {
  border: black 1px solid;
  background: #989e8e;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 3;
}
.format-boxes {
  border: black 1px solid;
  background: #989e8e;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 3;
}
@media (max-width: 500px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
    justify-content: center;
  }
}
